{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


    {% block body_block %}
        <div>
            {% if users %}
            <h3>Список пользователей</h3>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Имя</th>
                        <th>e-mail</th>
                        <th>Группа</th>
                        <th>Дата регистрации</th>
                        <th>Последний вход</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.groups.all.0.name }}</td>
                        <td>{{ user.date_joined |date:"d.m.Y" }}{{ user.date_joined |time:"H:i" }}</td>
                        <td>{{ user.last_login |date:"d.m.Y" }}{{ user.last_login |time:"H:i" }}</td>
                    </tr>                                
                    {% endfor %}
                </table>  
            </div>
          
            {% else %}
            <strong>Пользователей нет</strong>
            {% endif %}
        </div>
        
    {% endblock %}