{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

    {% block body_block %}
        <div>
            <form action="" method="get">
                {{ filter.form.as_p }}
                {% bootstrap_button "Отбор" button_type="submit" button_class="btn-primary" %}                
            </form>
        </div>
        <div>
            {% if filter.qs %}
            <h3>Список всех инцидентов</h3>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Дата-время инцидента</th>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Ущерб</th>
                        <th>Статус</th>
                    </tr>
                    {% for incident in filter.qs %}
                    <tr>
                        <td>{{ incident.id }}</td>
                        <td>{{ incident.incident_date |date:"d.m.Y" }}</td>
                        <td><a href="/operrisk/incidents/{{ incident.id }}">{{ incident.name }}</a></td>
                        <td>{{ incident.category_id }}</td>
                        <td>{{ incident.loss_amount }}</td>
                        <td>{{ incident.get_status_display }}</td>
                    </tr>                                
                    {% endfor %}
                </table>
            </div>
            
            {% else %}
            <strong>Инцидентов нет</strong>
            {% endif %}
        </div>
    {% endblock %}