{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


    {% block body_block %}
        <div>
            {% if incidents %}
            <h3>Список всех инцидентов</h3>
            <a href="{% url 'export_incidents' %}">
                {% bootstrap_button "Сохранить в excel" button_type="submit" button_class="btn-primary" %}
            </a><br/><br/>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Дата-время инцидента</th>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Ущерб</th>
                        <th>Кем создан</th>
                        <th>Статус</th>
                    </tr>
                    {% for incident in incidents %}
                    <tr>
                        <td>{{ incident.id }}</td>
                        <td>{{ incident.incident_date |date:"d.m.Y" }}</td>
                        <td><a href="/operrisk/incidents/{{ incident.id }}">{{ incident.name }}</a></td>
                        <td>{{ incident.category }}</td>
                        <td>{{ incident.loss_amount }}</td>
                        <td>{{ incident.created_by }}</td>
                        <td>{{ incident.get_status_display }}</td>
                    </tr>                                
                    {% endfor %}                    
                </table>
            </div>

            <div class="pagination">
                    <span class="step-links">
                        {% if incidents.has_previous %}
                            <a href="?page=1">&laquo; Начало</a>
                            <a href="?page={{ incidents.previous_page_number }}">назад</a>
                        {% endif %}
                
                        <span class="current">
                            Стр. {{ incidents.number }} из {{ incidents.paginator.num_pages }}
                        </span>
                
                        {% if incidents.has_next %}
                            <a href="?page={{ incidents.next_page_number }}">далее</a>
                            <a href="?page={{ incidents.paginator.num_pages }}">конец &raquo;</a>
                        {% endif %}
                    </span>
                </div>

            {% else %}
            <strong>Инцидентов нет</strong>
            {% endif %}
        </div>
        
    {% endblock %}