{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

    {% block body_block %}
        <div>            
            {% if category %}
                <h3>{{ category.name }}</h3>
            {% else %}
                <strong>Такой категории нет в базе</strong>
            {% endif %}
        </div>
        <div>
            {% if incidents %}
                <h3>Список инцидентов</h3>
                <div class="table-responsive">                                    
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Дата-время инцидента</th>
                            <th>Название</th>
                            <th>Ущерб</th>
                            <th>Кем создан</th>
                        </tr>
                        {% for incident in incidents %}
                        <tr>
                            <td>{{ incident.id }}</td>
                            <td>{{ incident.incident_date |date:"d.m.Y" }}</td>
                            <td><a href="/operrisk/incidents/{{ incident.id }}">{{ incident.name }}</a></td>
                            <td>{{ incident.loss_amount }}</td>
                            <td>{{ incident.created_by }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
            <strong>В данной категории пока нет инцидентов</strong>
            {% endif %}
        </div>
    {% endblock %}
