{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

    {% block body_block %}
        <div>            
            {% if incident %}
                <h3>Информация об инциденте ID {{ incident.id }}</h3>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <td><strong>Название</strong></td>
                            <td>{{ incident.name }}</td>
                        </tr>                        
                        <tr>
                            <td><strong>Статус</strong></td>
                            <td>{{ incident.get_status_display }}</td>
                        </tr>
                        <tr>
                            <td><strong>Категория</strong></td>
                            <td><a href="{% url 'show_category' category.URL_name %}">{{ incident.category }}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Дата инцидента</strong></td>
                            <td>{{ incident.incident_date |date:"d.m.Y" }}</td>
                        </tr>
                        <tr>
                            <td><strong>Описание инцидента</strong></td>
                            <td>{{ incident.description }}</td>
                        </tr>
                        <tr>
                            <td><strong>Размер ущерба</strong></td>
                            <td>{{ incident.loss_amount }}</td>
                        </tr>
                        <tr>
                            <td><strong>Предпринятые меры</strong></td>
                            <td>{{ incident.measures_taken }}</td>
                        </tr>
                        <tr>
                            <td><strong>Вложенные файлы</strong></td>
                            <td><a href="/media/{{ incident.att }}">{{ incident.att }}</a></td>
                        </tr>
                        <tr>
                            <td><strong>Создано пользователем</strong></td>
                            <td>{{ incident.created_by }}</td>
                        </tr>
                        <tr>
                            <td><strong>Дата-время создания записи</strong></td>
                            <td>{{ incident.created_date |date:"d.m.Y" }} {{ incident.created_date |time:"H:i" }}</td>
                        </tr>
                    </table>
                </div>
                {% if incident.status == DRAFT_STATUS %}            
                    <a href="{% url 'edit_incident' incident.id %}"> {% bootstrap_button "Подтвердить и создать" button_type="submit" button_class="btn-primary" %}</a></td>
                {% endif %}
                {% if incident.status == CREATED_STATUS %}            
                    <a href="{% url 'approve_incident' incident.id %}"> {% bootstrap_button "Утвердить" button_type="submit" button_class="btn-success" %}</a></td>
                    <a href="{% url 'cancel_incident' incident.id %}"> {% bootstrap_button "Ошибка" button_type="submit" button_class="btn-danger" %}</a></td>
                {% endif %}                
            {% else %}
                <strong>Такого инцидента нет в базе</strong>
            {% endif %}
        </div>
    {% endblock %}