<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Oper risk</title>
    </head>
    <body>
        <h1>База операционных рисков</h1>
        <div>            
            {% if incidents %}
            <h3>Список недавних инцидентов</h3>
            <ul>
                {% for incident in incidents %}
                <li>
                    <a href="/operrisk/incidents/{{ incident.id }}">{{ incident.name }}</a>                    
                </li>
                {% endfor %}
            </ul>
            <a href="/operrisk/all_incidents/">Все инциденты</a><br/>
            <a href="/operrisk/add_incident/">Добавить инцидент</a>
            {% else %}
            <strong>Инцидентов нет</strong>
            {% endif %}
        </div>
        <div>
            {% if categories %}
            <h3>Категории опер. рисков</h3>
            <ul>
                {% for cat in categories %}
                <li>
                    <a href="/operrisk/category/{{ cat.URL_name }}">{{ cat.name }}</a>                    
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>Справочник категорий ещё не заполнен</strong>
            {% endif %}
        </div>
    </body>
</html>