{% extends 'operrisk/base.html' %}
{% load staticfiles %}

    {% block body_block %}
        <div>            
            {% if incidents %}
            <h3>Список недавних инцидентов</h3>
            <ul>
                {% for incident in incidents %}
                <li>
                    <a href="{% url 'show_incident' incident.id %}">{{ incident.name }}</a>                                        
                </li>
                {% endfor %}
            </ul>
            <a href="{% url 'all_incidents' %}">Все инциденты</a>            
            {% else %}
            <strong>Инцидентов нет</strong>
            {% endif %}
            <br/><a href="{% url 'add_incident' %}">Добавить инцидент</a>
        </div>
        <div>
            {% if categories %}
            <h3>Категории опер. рисков</h3>
            <ul>
                {% for cat in categories %}
                <li>
                    <a href="{% url 'show_category' cat.URL_name %}">{{ cat.name }}</a>                                      
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>Справочник категорий ещё не заполнен</strong>
            {% endif %}
        </div>
    {% endblock %}