<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Oper risk</title>
    </head>
    <body>
        <h1>База операционных рисков</h1>
        <div>            
            {% if incidents %}
            <h3>Список недавних инцидентов</h3>
            <ul>
                {% for incident in incidents %}
                <li>{{ incident.name }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>Инцидентов нет</strong>
            {% endif %}
        </div>
    </body>
</html>