{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


    {% block body_block %}
        <div>
            {% if incidents %}
            <h3>Список инцидентов, добавленных пользователем <strong>{{ current_user }}</strong></h3>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Дата-время инцидента</th>
                        <th>Название</th>
                        <th>Категория</th>
                        <th>Ущерб</th>
                    </tr>
                    {% for incident in incidents %}
                    <tr>
                        <td>{{ incident.id }}</td>
                        <td>{{ incident.incident_date |date:"d.m.Y" }}</td>
                        <td><a href="/operrisk/incidents/{{ incident.id }}">{{ incident.name }}</a></td>
                        <td>{{ incident.category_id }}</td>
                        <td>{{ incident.loss_amount }}</td>
                    </tr>                                
                    {% endfor %}
                </table>  
            </div>
          
            {% else %}
            <strong>Инцидентов нет</strong>
            {% endif %}
        </div>
        
    {% endblock %}