{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

    {% block body_block %}
        <div>            
            {% if subcategory %}
                <h3>{{ subcategory.name }}</h3>
            {% else %}
                <strong>Такой причины нет в базе</strong>
            {% endif %}
        </div>
        <div>
            {% if incidents %}
                <h3>Список инцидентов</h3>
                <div class="table-responsive">                                    
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Дата начала инцидента</th>
                            <th>Дата окончания инцидента</th>                            
                            <th>Название</th>                            
                            <th>Ущерб</th>
                            <th>Кем создан</th>
                            <th>Статус</th>
                        </tr>
                        {% for incident in incidents %}
                        <tr>
                            <td><a href="/operrisk/incidents/{{ incident.id }}">{{ incident.id }}</a></td>
                            <td>{{ incident.incident_date |date:"d.m.Y" }}</td>
                            <td>{{ incident.incident_end_date |date:"d.m.Y" }}</td>                            
                            <td><a href="/operrisk/incidents/{{ incident.id }}">{{ incident.name }}</a></td>                            
                            <td>{{ incident.loss_amount |floatformat:0 }}</td>
                            <td>{{ incident.created_by }}</td>
                            <td>{{ incident.get_status_display }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
            <strong>Пока нет инцидентов, относящихся к данной причине</strong>
            {% endif %}
        </div>
    {% endblock %}
